.status-box {  
  display: grid;
  padding: 2px;
  margin: auto;
  width: 40px;
  height: 40px;
  
  grid-template-columns: repeat(6, 6px);
  grid-template-rows: repeat(4, 6px);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: #cecece8a;
}

.status-badge {
  width: 100%;
}

.staged,
.sent,
.expo {
  grid-column-end: span 1;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;  
}

.staged {
  background-color: #FFEB3B;
}

.sent {
  background-color: #64B5F6;
}

.expo {
  background-color: #4DB6AC;
}