.status-box {
  height: 10px;
  border: 1px solid black;
  margin: 4px;
}

.status-badge {
  width: 100%;
}

.staged {
  background-color: yellow;
  width: 100%;
}

.sent {
  background-color: blue;
  width: 100%;
}

.expo {
  background-color: green;
  width: 100%;
}