h4, h5 {
  margin: 10px 0px;
}

.card {
  margin: 10px;
  font-size: 30px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
}

.new-party{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e6e6ff;
  justify-content: center;
}

.party {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  padding: 0px 20px;
}

.div-shadow {
  -moz-box-shadow:     0 0 6px #000000;
  -webkit-box-shadow:  0 0 6px #000000;
  box-shadow:          0 0 6px #000000;
}

.new {
  background-color: #fa80726b;
}

.staged {
  background-color: lightyellow;
}

.expo {
  background-color: 67afaf;
}

.table-img {
  height: 90px;
  width: 100px;
  /* margin-top: 40px; */
}

.font-size-12 {
  font-size: 15px;
  line-height: 100px;
}

.align-center {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.table-img-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-img-container p {
  font-size: 15px;
  text-align: center;
}