<nav>
  <h3 class="heading light">{{headingString}}</h3>
  <h2 class="light">{{titleString}}</h2>


  <div id="nav-icon" (click)="toggleMenu()" [ngClass]="menuOpen ? 'open' : '' ">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>  
</nav>

<div id="mySidenav" class="sidenav">
  <a style="color:black"(click)="toggleMenu(false)" routerLink=""><i class="material-icons" style="font-size:30px;color:black"></i>&nbsp; Parties</a>
  <a style="color:black"(click)="toggleMenu(false)" routerLink="menu"><i class="material-icons" style="font-size:30px;color:black">&#xeb44;</i>&nbsp; Menu</a>
  <a style="color:black"(click)="toggleMenu(false)" routerLink="dashboard"><i class="material-icons"style="font-size:30px;color:black">&#xe7f9;</i>&nbsp; Dashboard</a>
</div>