<nav>
  <h4 routerLink="{{headingLink}}" class="heading light">{{headingString}}</h4>
  <h2 routerLink="{{titleLink}}" class="light">{{titleString}}</h2>


  <div id="nav-icon" (click)="toggleMenu()" [ngClass]="menuOpen ? 'open' : '' ">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>  
</nav>

<div id="mySidenav" class="sidenav">
  <a (click)="toggleMenu(false)" routerLink="">Parties</a>
  <a (click)="toggleMenu(false)" routerLink="menu">Menu</a>
  <a (click)="toggleMenu(false)" routerLink="dashboard">Dashboard</a>
</div>