<h2>{{selectedCategory | titlecase}}</h2>
<hr>
<div *ngIf="menuItems.length > 0">
    <div *ngFor="let item of menuItems | catFilter:selectedCategory">
        <h4>{{item.name}}</h4>
        <h4>{{item.ingredients}}</h4>
        <h4>${{item.price}}</h4>
        <button mat-button (click)="itemDelete(item)">Delete</button>
    </div>
</div>

<div>

    <form>
        <mat-form-field class="add-item-form">
            <input matInput type="text" [(ngModel)]="ingredients" [ngModelOptions]="{standalone: true}"
                placeholder="ingredients separated by spaces" required>
        </mat-form-field>
        <mat-form-field class="add-item-form">
            <input matInput type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="name"
             required>
        </mat-form-field>
        <mat-form-field class="add-item-form">
            <input matInput type="number" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" placeholder="price"
            required>
        </mat-form-field>
        <button *ngIf="ingredients && name && price" mat-stroked-button (click)="addToMenu(ingredients, name, price)">Create new</button>

        <button *ngIf="!ingredients || !name || !price" disabled mat-stroked-button>Create new</button>
    </form>
</div>


<!-- <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="catName" type="text" placeholder="Category Name">
</mat-form-field>
<button mat-stroked-button id="addCategory" (click)="addCategory(catName)">Add Category</button> -->