<div class= "orders-head" (click)="addSeat()"><h2>Add Seat <i class="material-icons">add</i></h2></div>
<div class="orders-container" >
  <div class="order-box"*ngFor="let order of orders">
    <div class="order-status-container fb-row">
      <div class =" party-seat-button fb-col">
        <p>Seat {{order.seatId}}</p>
        <!-- <i class="material-icons">filter_list</i> -->
        <div class="slider-container">
          <app-status-bar [order]='order'></app-status-bar>
        </div>

      </div>
      <app-status-slider [order]='order' [partyId]='partyId'></app-status-slider>
    </div>
  </div>
  <div class="clear-bottom"></div>
</div>
<div class="party-footer fb-row">
    <!-- <button mat-button class="expo-button" [matMenuTriggerFor]="aboveMenu">Send Specific</button> -->
    <button mat-button class="send-button" [matMenuTriggerFor]="aboveMenu">Send Orders</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item class="button-pop-up btn-color1" (click)="sendOrdersByCategory('sent', 'drink')">Send Drinks</button>
        <button mat-menu-item class="button-pop-up btn-color1" (click)="sendOrdersByCategory('sent', 'appetizer')">Send Apps</button>
        <button mat-menu-item class="button-pop-up btn-color1" (click)="sendOrdersByCategory('sent', 'entree')">Send Entrees</button>
        <button mat-menu-item class="button-pop-up btn-color1" (click)="sendOrdersByCategory('sent', 'side')">Send Sides</button>
        <button mat-menu-item class="button-pop-up btn-color1" (click)="sendOrdersByCategory('sent', 'dessert')">Send Desserts</button>
        <button mat-menu-item class="button-pop-up btn-color1" (click)="sendOrders('sent')">Send All</button>
      </mat-menu>
  <button mat-button class="expo-button" [matMenuTriggerFor]="aboveMenu2">Expo Orders</button>
  <mat-menu #aboveMenu2="matMenu" yPosition="above">
      <button mat-menu-item class="button-pop-up btn-color2" (click)="sendOrdersByCategory('expo', 'drink')">Expo Drinks</button>
      <button mat-menu-item class="button-pop-up btn-color2" (click)="sendOrdersByCategory('expo', 'appetizer')">Expo Apps</button>
      <button mat-menu-item class="button-pop-up btn-color2" (click)="sendOrdersByCategory('expo', 'entree')">Expo Entrees</button>
        <button mat-menu-item class="button-pop-up btn-color2" (click)="sendOrdersByCategory('expo', 'side')">Expo Sides</button>
        <button mat-menu-item class="button-pop-up btn-color2" (click)="sendOrdersByCategory('expo', 'dessert')">Expo Desserts</button>
      <button mat-menu-item class="button-pop-up btn-color2" (click)="sendOrders('expo')">Expo All</button>
    </mat-menu>
</div>