<div class= "orders-head" (click)="addSeat()"><h2>Add Order <i class="material-icons">
    add
    </i></h2></div>
<div class="orders-container" >
  <div class="order-box"*ngFor="let order of orders">
    <div class="order-status-container fb-row">
      <div class =" party-seat-button fb-col">
        <p>Seat {{order.seatId}}</p>
        <i class="material-icons">filter_list</i>
      </div>

      <app-status-slider [order]='order' [partyId]='partyId'></app-status-slider>
    </div>
    <div class="slider-container">
      <app-status-bar [order]='order'></app-status-bar>
    </div>
  </div>
</div>


<button mat-button class="send-button" (click)="sendOrders('sent')">Send Orders</button>
<button mat-button class="expo-button" (click)="sendOrders('expo')">Expo Orders</button>