
a:hover {
  background-color:  #ffe6e6;
}

.box {
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}

.menu-price {
  float: right;
  margin-right: 20px;
}

.menu-item {
  justify-content: right;
  border-bottom: 1px solid gray;
}

.menu-item p {
  margin-left: 5%;
}

.category-nav .box {
  margin: 0;
  padding: 0;
}

.category-nav .box a{
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.component-head {
  width: 100%;
  height: 50px;
  margin: 0;
  background-color:#e6ffe6;
}

.component-head h2 {
  margin: 0;
  text-align: center;
  color: #e6ffe6
}

.activeCat {
  background-color: #ffe6e6;
  box-shadow: 0px 2px 4px black;
}

.notActiveCat {
  background-color: white;
}

.fb-space-between {
  justify-content: space-between;
}

.wide {
  width: 100%;
}

.fb-space-evenly {
  justify-content: space-evenly;
}

.fb-wrap {
  flex-wrap: wrap;
}

.menu-info-trigger  {
  margin-right: 20px;
}

.menu-ingredient-window ul li {
  padding: 0 10px;
  list-style: none;
}

span i {
  vertical-align: middle
}