<div class="scrolling-wrapper-flexbox status-slider-container">
    <div class="add-item-button fb-col">
        <i class="material-icons" (click)="goToOrderDetails(order.id)">add_circle_outline</i>
    </div>

    <div *ngFor="let item of itemsStaged">
        <p class="status-card status-slider-staged fb-row">
            <span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
        <mat-menu #menu="matMenu">
            <button (click)="updateStatus(item, 'sent')" mat-menu-item>Send</button>
        </mat-menu>
    </div>
    <div *ngFor="let item of itemsSent">
        <p class="status-card status-slider-sent fb-row"><span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
        <mat-menu #menu="matMenu">
            <button (click)="updateStatus(item, 'expo')" mat-menu-item>Expo</button>
        </mat-menu>
    </div>
    <div *ngFor="let item of itemsExpo">
        <p class="status-card status-slider-expo fb-row"><span class="status-card-text">{{item.name}}</span></p>
        <!-- <mat-menu #menu="matMenu">
            <button (click)="updateStatus(item, 'send')" mat-menu-item>Send</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu> -->
    </div>

</div>