<div class="scrolling-wrapper-flexbox status-slider-container">
    <div class="add-item-button fb-col">
        <i class="material-icons" (click)="goToOrderDetails(order.id)">add_circle_outline</i>
    </div>

    <div *ngFor="let item of itemsStaged">
        <p class="status-card status-slider-staged fb-row">
            <span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
        <mat-menu #menu="matMenu">
            <button (click)="updateStatus(item, 'sent')" mat-menu-item>Send</button>
        </mat-menu>
    </div>
    <div *ngFor="let item of itemsSent">
        <p class="status-card status-slider-sent fb-row"><span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
        <mat-menu #menu="matMenu">
            <button (click)="updateStatus(item, 'expo')" mat-menu-item>Expo</button>
        </mat-menu>
    </div>
    <div *ngFor="let item of itemsExpo">
        <p class="status-card status-slider-expo fb-row"><span class="status-card-text">{{item.name}}</span></p>
        <!-- <mat-menu #menu="matMenu">
            <button (click)="updateStatus(item, 'send')" mat-menu-item>Send</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu> -->
    </div>



    <!-- <p class='status-slider-sent fb-row status-card' *ngFor="let item of itemsSent">{{item.name}}</p>


    <p class='status-slider-expo fb-row status-card' *ngFor="let item of itemsExpo">{{item.name}}</p> -->

    <!-- <p class="status-card status-slider-sent fb-row" *ngFor="let item of itemsSent"><span class="status-card-text">{{item.name}}</span></p>
    <p class="status-card status-slider-expo fb-row" *ngFor="let item of itemsExpo"><span class="status-card-text">{{item.name}}</span></p> -->
</div>


<!-- <div class='status-slider-staged fb-row status-card' *ngIf="itemsStaged.length > 0">
    <p *ngFor="let item of itemsStaged">{{item.name}}</p>
  </div>
  <div class='status-slider-sent fb-row status-card' *ngIf="itemsSent.length > 0">
      <p *ngFor="let item of itemsSent">{{item.name}}</p>
  </div>
  <div class='status-slider-expo fb-row status-card' *ngIf="itemsExpo.length > 0">
      <p *ngFor="let item of itemsExpo">{{item.name}}</p>
  </div> -->

<!-- <div class="status-card-container fb-row">
      <p class="status-card status-slider-staged fb-row" *ngFor="let item of itemsStaged"><span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="status-card-container fb-row">
      <p class="status-card status-slider-sent fb-row" *ngFor="let item of itemsSent"><span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button> 
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="status-card-container fb-row">
      <p class="status-card status-slider-expo fb-row" *ngFor="let item of itemsExpo"><span mat-button [matMenuTriggerFor]="menu" class="status-card-text">{{item.name}}</span></p>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button> 
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      </div> -->