/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  width: 100%;
}

.fb-row {
  display: flex;
  flex-direction: row;
}

.fb-col {
  display: flex;
  flex-direction: column;
}

.display-none {
  display: none;
}